nav{

    height: 45px;
    border-bottom: 2px solid black;
    border-width:1px 0;
    padding-left: 75px;
    background-color: #A1B3A9;
    width: 100%;
    z-index: 100;
}
footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
    background-color: #A1B3A9;
    height: 45px;
}
