

nav{

    height: 100px;
    border-bottom: 2px solid black;
    border-width:1px 0;
    padding-left: 75px;
    background-color: #A1B3A9;
    width: 100%;
    z-index: 100;
}
footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
    background-color: #719584;
    height: 45px;
}
html *
{

   font-family: Avenir;
}
h3{
  color:white;
  text-align: left;
  position: absolute;
  margin-top: 30px;
}
p{
  color: black;
  text-align: left;

}
body{
  padding-top: 100px;
}
#track_box{
  position:absolute;
   top: 50%;
   left: 50%;
   width:50em;
   height:12em;
   background-color: #EAEAEA;
   margin-top: -5em;
   margin-left: -24em;
   border: 3px solid black;
}
.myList{
   list-style-type: none;
}


.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;


}

#img0, #img1, #img2, #img3, #img4, #img5, #img6, #img7{
  max-width:80%;
  max-height:80%;
  display: inline-block;
  margin-left: 10px;
  margin-top: 15px;

}
#child{
margin-left: 310px;
}
